{% extends "layout.html" %}

{% block head %}
  <script src="{{ url_for('static', filename='channels.js') }}"></script>
{% endblock %}

{% block title %}
  Channels
{% endblock %}

{% block body %}

  <!-- display channels as unordered lists -->
  <h1>Channels {{ channel_id }}</h1>
    <ul id="channels">
      {% if channels: %}
        {% for channel in channels: %}
          <li><a href="/channel/{{channel}}">{{ channel }}</a></li>
        {% endfor %}
      {% endif %}
    </ul>

  <!-- Form to create channel to be submitted via ajax -->

  <form id="form" class="form-inline">
    <div class="mx-sm-3 mb-2">
      <input id="new-channel" class="form-control" autocomplete="off" autofocus placeholder="New Channel" type="text">
    </div>
    <button type="submit" class="btn btn-primary mb-2">create new channel</button>
  </form>


{% endblock %}
