<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/styles.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    {% block head %}{% endblock %}

    <title>CS50 Project 1: {% block title %}{% endblock %}</title>

  </head>
  <body>
    <!-- navbar with register and login or see stuff-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" id="index_link" href="/">Channels list</a>
          </li>
            <!-- render if not logged in -->
            {% if session.get("user_id") == None: %}
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            {% endif %}
            <!-- render if logged in -->
          {% if session.get("user_id") != None: %}
            <li class="nav-item">
              <a class="nav-link" href="/logout">Log Out<span id="username"> {{ session["user_id"]}}</span></a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <br>

    {% block body %}{% endblock %}

    <footer class="footer">
      <div class="container">
        <span class="text-muted">Created by Diego Spiniak</span>
      </div>
    </footer>

  </body>

</html>
