{% extends "layout.html" %}

{% block head %}
  <script src="{{ url_for('static', filename='login.js') }}"></script>
{% endblock %}

{% block title %}
  Login
{% endblock %}

{% block body%}

<!--# Submit the user’s input via POST to /register.-->
<form action="/login" method="post" name="form" id="form">
  <div class="col-sm-3 my-1">
    <label for="inputUsername">Username</label>
    <input type="text" class="form-control" name="username" id="username">
  </div>
  <div class="col-sm-3 my-1">
    <button type="submit" class="btn btn-primary my-1">Submit</button>
  <div>
</form>

{% endblock %}
